
/* fixed */

    .wrapper.fixed{
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 2000;
        overflow: visible;
        background-color: #ffffff;
    }
    .fixed .container{
        position: relative;
    }
    .fixed .container:after{
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        bottom: -24px;
        background-position: top center;
        background-repeat: no-repeat;
        background-image: url(../img/fixed/texture.png);
        height: 24px;
        width: 100%;
    }
    .fixed .container .fex_box_wrapper{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
    }
    .fixed .container .fex_box_wrapper:after{content:'';display: block;width: 100%;height: 0;clear: both;}
    .fixed .logo_container{
        height: 65px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        position: absolute;
        left:30px;
        top:calc(50% - 32px);
    }
    .fixed .logo_container .logo{

    }
    .fixed .header_menu_container{
        position: relative;
        max-width: calc(100% - 300px);
        width: 100%;
        margin: 0 auto;
        min-height: 65px;
        display: flex;
        align-items:center;
        padding:10px 0;
    }
    .fixed .header_menu_container ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        margin-bottom: -25px;
        width: 100%;
    }
    .fixed .header_menu_container ul li{
        margin-bottom: 25px;
    }
    .fixed .header_menu_container ul li a:hover:after{
        border-radius: 50%;
        background-color: rgb(149, 185, 223);
        width: 10px;
        height: 10px;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        bottom: -17px;
        content: '';
        display: block;
    }
    .fixed .header_menu_container ul li.active a:after{
        border-radius: 50%;
        background-color: rgb(149, 185, 223);
        width: 10px;
        height: 10px;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        bottom: -17px;
        content: '';
        display: block;
    }

    .fixed .header_menu_container ul li a{
        font-size: 14px;
        font-family: "Proxima Nova";
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        text-decoration: none;
        padding: 0 17px;
        position: relative;
    }
    .fixed .tel_container{
        min-height: 65px;
        display: flex;
        justify-content:flex-end;
        align-items:center;
        position: absolute;
        right: 30px;
        top:calc(50% - 32px);
    }
    .fixed .tel_container a{
        font-size: 16px;
        font-family: "Proxima Nova";
        color: rgb(40, 40, 40);
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        text-decoration: none;
    }
    .fixed .tel_container a:hover{
        text-decoration: underline;
    }

/* /fixed */

/* dv1 */

    .dv1{
        background-position: center;
        background-repeat: no-repeat;
    }
    .dv1 .container{
        position: relative;
    }
    .dv1 .slider_wrapper{
        position: relative;
    }
    .dv1 .slider_wrapper .slider{
        position: relative;
        overflow: hidden;
        max-width: 1920px;
        margin: 0 auto;
        width: 100%;
        position: relative;
        height: 780px;
    }
    .dv1 .slider_wrapper .slider .item{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        opacity: 0;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        filter: alpha(opacity=50);
        -webkit-transition: opacity .70s ease-in-out;
        -moz-transition: opacity .70s ease-in-out;
        -ms-transition: opacity .70s ease-in-out;
        -o-transition: opacity .7s ease-in-out;
        transition: opacity .7s ease-in-out;
    }
    .dv1 .slider_wrapper .slider .item.active{
        z-index: 5;
        opacity: 1;
        filter: alpha(opacity=50);
        -webkit-transition: opacity .70s ease-in-out;
        -moz-transition: opacity .70s ease-in-out;
        -ms-transition: opacity .70s ease-in-out;
        -o-transition: opacity .7s ease-in-out;
        transition: opacity .7s ease-in-out;
    }
    .dv1 .slider_wrapper .slider .item .container{
        height:768px;
        box-sizing: border-box;
        display: flex;
        align-items:center;
        justify-content:center;
        padding: 0 20px;
    }
    .dv1 .slider .flex_container{
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .dv1 .slider .left_desc{
        max-width: 420px;
        width: 100%;
        margin-right: 50px;
    }
    .dv1 .slider .left_desc .title{

    }
    .dv1 .slider .left_desc .title h1{
        font-size: 150px;
        font-family: "Proxima Nova";
        color: rgb(255, 254, 254);
        text-transform: uppercase;
        line-height: 150px;
        font-weight: 600;
        text-align: left;
        margin-left: -9px;
    }
    .dv1 .slider .left_desc .desc{
        margin-top: -10px;
        margin-bottom: 50px;
    }
    .dv1 .slider .left_desc .desc p{
        font-size: 30px;
        font-family: "Proxima Nova";
        color: rgb(233, 233, 233);
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
    }
    .dv1 .slider .left_desc .buttons_wrapper{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .dv1 .slider .left_desc .buttons_wrapper .auto_recall{

    }
    .dv1 .slider .left_desc .buttons_wrapper .auto_recall a{
        width: 200px;
        line-height: 45px;
        display: block;
        text-align: center;
        text-decoration: none;
        background-color: #6c92c7;
        font-size: 14px;
        font-family: "Proxima Nova";
        color: rgb(254, 254, 254);
        text-transform: uppercase;
    }
    .dv1 .slider .left_desc .buttons_wrapper .call_back{

    }
    .dv1 .slider .left_desc .buttons_wrapper .call_back a{
        width: 200px;
        line-height: 41px;
        display: block;
        text-align: center;
        text-decoration: none;
        border: solid 2px #fff;
        box-sizing: border-box;
        font-size: 14px;
        font-family: "Proxima Nova";
        color: rgb(254, 254, 254);
        text-transform: uppercase;
        font-weight: 600;
    }
    .dv1 .slider .right_desc{
        max-width: 615px;
        width: 100%;
        padding: 30px 0 0 0;
    }
    .dv1 .slider .right_desc .title{
        width: 275px;
    }
    .dv1 .slider .right_desc .title h2{
        font-size: 20px;
        font-family: "Proxima Nova";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 30px;
        text-align: left;
        padding: 0 10px 0 10px;
        box-sizing: border-box;
        width: 100%;
        background-color: #6c92c7;
    }
    .dv1 .slider .right_desc .desc{
        padding: 10px 0 10px 0;
    }
    .dv1 .slider .right_desc .desc p{
        font-size: 40px;
        font-family: "Proxima Nova";
        color: rgb(233, 233, 233);
        line-height: 1.1;
        text-align: left;
        font-weight: 600;
    }
    .dv1 .slider_wrapper .navigator{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
        position: absolute;
        bottom: 90px;
        left: 0px;
        z-index: 600;
    }
    .dv1 .slider_wrapper .navigator span{
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 50%;
        background-color: #ffffff;
        margin: 0 5px;
        cursor: pointer;
    }
    .dv1 .slider_wrapper .navigator span.active{
        background-color: #6a7dff;
    }
    .dv1 .slider_wrapper .navigator span:hover{
        background-color: #6a7dff;
    }
    .dv1 .container:after{
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-position: top center;
        background-repeat: no-repeat;
        background-image: url(../img/dv1/bot_bg.png);
        height: 24px;
        width: 100%;
    }

/* /dv1 */

/* dv2 */

    .dv2{
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/dv2/bg.png);
    }
    .dv2 .title_container{
        padding: 40px 0 0 0;
    }
    .dv2 .title_container h2{
        font-size: 36px;
        font-family: "Proxima Nova";
        color: rgb(44, 44, 44);
        text-transform: uppercase;
        line-height: 36px;
        text-align: center;
        font-weight: 900;
        letter-spacing: 6px;
    }
    .dv2 .items_wrapper{
        padding: 95px 0 20px 0;
        position: relative;
    }
    .dv2 .items_wrapper .items_container{
        background-image: url(../img/dv2/road.png);
        background-repeat: no-repeat;
        background-position: 0px 230px;
        position: relative;
    }
    .dv2 .items_wrapper .items_container ul{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
    }
    .dv2 .items_wrapper .items_container ul li{
        position: relative;
        width: 33.33%;
        min-height: 140px;
        margin: 0 0 220px 0;
    }
    .dv2 .items_wrapper .items_container ul li:after{
        content: '';
        display: block;
        background-position: center top;
        background-repeat: no-repeat;
        background-image: url(../img/dv2/pins.png);
        width: 100%;
        height: 70px;
        left: 0px;
        bottom: -75px;
        position: absolute;
    }
    .dv2 .items_wrapper .items_container ul li .img_container{
        width: 100%;
        height: 100px;
        background-position: top center;
        background-repeat: no-repeat;
    }
    .dv2 .items_wrapper .items_container ul li .txt{
        position: relative;
        font-size: 18px;
        font-family: "Proxima Nova";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 600;
        text-align: center;
    }
    .dv2 .items_wrapper .items_container .passat{
        position: absolute;
        left: 0px;
        top: 153px;
        z-index: 300;
    }

/* /dv2 */

/* dv3 */

    .wrapper.dv3{
        background-color: #d6e5ff;
        margin-bottom: 30px;
    }
    .global_wrapper .dv3.wrapper .container{
        box-sizing: border-box;
        padding: 68px 0 110px 0;
        position: relative;
    }
    .dv3 .container:before{
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 24px;
        background-position: top center;
        background-repeat: no-repeat;
        background-image: url(../img/dv3/top_texture.png);
    }
    .dv3 .container:after{
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 24px;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-image: url(../img/dv3/texture-bottom.png);
    }
    .dv3 .title_container{
        display: table;
        margin: 0 auto 0 auto;
        position: relative;
    }
    .dv3 .title_container:before{
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #2c2c2c;
        left: -30px;
        top: 13px;
    }
    .dv3 .title_container:after{
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #2c2c2c;
        right: -30px;
        top: 13px;
    }
    .dv3 .title_container h2{
        font-size: 36px;
        font-family: "Proxima Nova";
        color: rgb(44, 44, 44);
        text-transform: uppercase;
        line-height: 36px;
        text-align: center;
        font-weight: 900;
    }
    .dv3 .items_wrapper{
        padding: 120px 0 15px 0;
    }
    .dv3 .items_wrapper .items_container{
        background-image: url(../img/dv3/car.png);
        background-position: center center;
        background-repeat: no-repeat;
    }
    .dv3 .items_wrapper .items_container ul{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .dv3 .items_wrapper .items_container ul li{
        width: 50%;
        padding: 0 0 40px 0;
    }
    .dv3 .items_wrapper .items_container ul li .inline_container{
        width: 100%;
    }
    .dv3 .items_wrapper .items_container ul li:nth-child(2n) .inline_container{
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
    }
    .dv3 .items_wrapper .items_container ul li:nth-child(2n-1) .inline_container{
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
    }
    .dv3 .items_wrapper .items_container ul li .inline_container .content{
        max-width: 250px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
    }
    .dv3 .items_wrapper .items_container ul li .inline_container .content .img_wrapper{
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        border: solid 2px #4c4c4c;
    }
    .dv3 .items_wrapper .items_container ul li .inline_container .content .img_wrapper .img_container{
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
    }
    .dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container{
        width: calc(100% - 60px);
    }
    .dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container .li_title{
        padding: 0 0 6px 0;
    }
    .dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container .li_title h3{
        font-size: 16px;
        font-family: "Proxima Nova";
        color: rgb(76, 76, 76);
        text-transform: uppercase;
        line-height: 16px;
        font-weight: 800;
        text-align: left;
    }
    .dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container .li_content{

    }
    .dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container .li_content p{
        font-size: 14px;
        font-family: "Proxima Nova";
        color: rgb(106, 106, 106);
        line-height: 1.2;
        text-align: left;
    }
    .dv3 .btns_wrapper{
        max-width: 420px;
        width: 100%;
        margin: 0 auto 0 auto;
    }
    .dv3 .btns_wrapper .btns_container{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .dv3 .btns_wrapper .btns_container .btn_car{
        width: 200px;
        height: 45px;
    }
    .dv3 .btns_wrapper .btns_container .btn_car a{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        box-sizing: border-box;
        background-color: #6c92c7;
        text-align: center;
        line-height: 45px;
        font-size: 14px;
        font-family: "Proxima Nova";
        color: rgb(254, 254, 254);
        text-transform: uppercase;
    }
    .dv3 .btns_wrapper .btns_container .btn_recall{
        width: 200px;
        height: 45px;
    }
    .dv3 .btns_wrapper .btns_container .btn_recall a{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        box-sizing: border-box;
        text-align: center;
        line-height: 41px;
        border: solid 2px #616161;
        font-size: 14px;
        font-family: "Proxima Nova";
        color: rgb(97, 97, 97);
        text-transform: uppercase;
        font-weight: 600;
    }

/* /dv3 */

/* dv4 */

    .dv4{
        background-position: top center;
        background-repeat: no-repeat;
        background-image: url(../img/dv4/bg.png);
        margin: 0 auto 0 auto;
    }
    .dv4 .container{
        position: relative;
        padding: 0 0 130px 0;
        box-sizing: border-box;
    }
    .dv4 .container .title_container{
        padding: 335px 24px 40px 24px;
        display: table;
        position: relative;
    }
    .dv4 .container .title_container h2{
        font-size: 30px;
        font-family: "Proxima Nova";
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 30px;
    }
    .dv4 .container .title_container:before{
        background-color: #424242;
        width: 5px;
        height: 5px;
        position: absolute;
        left: -3px;
        top: 346px;
        content: '';
        display: block;
        border-radius: 50%;
    }
    .dv4 .container .title_container:after{
        background-color: #424242;
        width: 5px;
        height: 5px;
        position: absolute;
        right: -3px;
        top: 346px;
        content: '';
        display: block;
        border-radius: 50%;
    }
    .dv4 .tab_control_wrapper{

    }
    .dv4 .tab_control_wrapper .tab_control_container{

    }
    .dv4 .tab_control_wrapper .tab_control_container ul{
        position: relative;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li{

    }
    .dv4 .tab_control_wrapper .tab_control_container ul li.active{
        background-color: #95b9df;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li:hover{
        background-color: #95b9df;
        cursor: pointer;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container .img_li_wrapper{

    }
    .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container .img_li_wrapper .img_container{
        width: 40px;
        height: 46px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 0px;
        width: 110px;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li:hover .content_li_container .img_li_wrapper .img_container{
        background-position-y: -46px;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li.active .content_li_container .img_li_wrapper .img_container{
        background-position-y: -46px;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container .txt_li_wrapper{

    }
    .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container .txt_li_wrapper .txt_li_container{

    }
    .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container .txt_li_wrapper .txt_li_container .title_li_container{
        padding: 20px 0 18px 0;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container .txt_li_wrapper .txt_li_container .title_li_container h3{
        font-size: 18px;
        font-family: "Proxima Nova";
        color: rgb(49, 49, 49);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 18px;
        text-align: left;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li:hover .content_li_container .txt_li_wrapper .txt_li_container .title_li_container h3{
        color: #fff;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li.active .content_li_container .txt_li_wrapper .txt_li_container .title_li_container h3{
        color: #fff;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container .txt_li_wrapper .txt_li_container .txt_wrapper{

    }
    .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container .txt_li_wrapper .txt_li_container .txt_wrapper .txt_container{
        max-width: 365px;
        width: 100%;
        padding: 0 0 20px 0;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container .txt_li_wrapper .txt_li_container .txt_wrapper .txt_container p{
        font-size: 14px;
        font-family: "Proxima Nova";
        color: rgb(49, 49, 49);
        line-height: 1.2;
        text-align: left;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li:hover .content_li_container .txt_li_wrapper .txt_li_container .txt_wrapper .txt_container p{
        color: #fff;
    }
    .dv4 .tab_control_wrapper .tab_control_container ul li.active .content_li_container .txt_li_wrapper .txt_li_container .txt_wrapper .txt_container p{
        color: #fff;
    }
    .dv4 .in_tabs_wrapper{
        position: absolute;
        top: 140px;
        right: -50px;
        padding: 50px;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 43.7px 2.3px rgba(0, 0, 0, 0.59);
        width: 700px;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container{

    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul{
        position: relative;

    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li{
        z-index: 10;
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        -webkit-transition: opacity .70s ease-in-out;
        -moz-transition: opacity .70s ease-in-out;
        -ms-transition: opacity .70s ease-in-out;
        -o-transition: opacity .7s ease-in-out;
        transition: opacity .7s ease-in-out;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li.active{
        z-index: 30;
        opacity: 1;
        -webkit-transition: opacity .70s ease-in-out;
        -moz-transition: opacity .70s ease-in-out;
        -ms-transition: opacity .70s ease-in-out;
        -o-transition: opacity .7s ease-in-out;
        transition: opacity .7s ease-in-out;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper{

    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .top_img{

    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .top_img img{
        max-width: 100%;
        height: auto;
        display: block;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .center_tab_wrapper{

    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .center_tab_wrapper .center_tab_container{
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .center_tab_wrapper .center_tab_container .left_img_container{
        width: 50%;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .center_tab_wrapper .center_tab_container .left_img_container img{
        max-width: 100%;
        height: auto;
        display: block;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .center_tab_wrapper .center_tab_container .center_tab_text_wrapper{
        width: 50%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .center_tab_wrapper .center_tab_container .center_tab_text_wrapper .text_flex{

    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .center_tab_wrapper .center_tab_container .center_tab_text_wrapper p{
        font-size: 14px;
        font-family: "Proxima Nova";
        color: #4c4c4c;
        line-height: 1.2;
        text-align: left;
        padding-left: 20px;
        padding-right: 30px;
        position: relative;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .center_tab_wrapper .center_tab_container .center_tab_text_wrapper p:before{
        content: '';
        display: block;
        position: absolute;
        left: 20px;
        top: -22px;
        background-color: #bcd6ed;
        width: 33px;
        height: 5px;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .bot_tab_wrapper{

    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .bot_tab_wrapper .bot_tab_container{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .bot_tab_wrapper .bot_tab_container .left_img_container{
        width: 50%;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .bot_tab_wrapper .bot_tab_container .left_img_container img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .bot_tab_wrapper .bot_tab_container .right_img_container{
        width: 50%;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .tab_content_container .bot_tab_wrapper .bot_tab_container .right_img_container img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .btn_tab_container{
        padding: 30px 0 0 0;
    }
    .dv4 .in_tabs_wrapper .in_tabs_container ul li .tab_content_wrapper .btn_tab_container a{
        width: 200px;
        height: 45px;
        display: block;
        text-decoration: none;
        text-align: center;
        line-height: 45px;
        background-color: #95b9df;
        margin: 0 auto 0 auto;
        font-size: 14px;
        font-family: "Proxima Nova";
        color: rgb(254, 254, 254);
        text-transform: uppercase;
    }

/* /dv4 */

@media screen and (max-width: 1280px){

    /* dv2 */

        .dv2 .items_wrapper .items_container{background-image: none;}
        .dv2 .items_wrapper .items_container img{display: none;}
        .dv2 .items_wrapper .items_container ul li{margin:0 0 50px 0;}
        .dv2 .items_wrapper .items_container ul li:after{display: none;}
        .dv2 .items_wrapper .items_container ul li .txt{padding: 0 10px;}

    /* /dv2 */

    /* dv3 */

        .global_wrapper .dv3.wrapper .container{padding: 68px 10px 110px 10px;}

    /* /dv3 */

}

@media screen and (max-width: 1200px){

    /* slider-top */

        .dv1 .slider .flex_container{
            justify-content:space-around;
        }
        .dv1 .slider .left_desc{
            margin-right: 0;
        }
        .dv1 .slider .right_desc .desc p{
            font-size: 32px;
        }

    /* /slider-top */

}
@media screen and (max-width: 1170px){

    /* dv3 */

        .dv3 .items_wrapper .items_container{background-image: none;}
        .dv3 .items_wrapper .items_container ul li{padding-left:10px;padding-right: 10px;box-sizing:border-box;}
        .dv3 .items_wrapper .items_container ul li .inline_container .content{max-width: 350px;}
        .dv3 .items_wrapper .items_container ul li:nth-child(2n-1) .inline_container{justify-content: flex-end;}
        .dv3 .items_wrapper .items_container ul li:nth-child(2n-1) .inline_container .content{flex-direction: row-reverse;}
        .dv3 .items_wrapper .items_container ul li:nth-child(2n-1) .inline_container .content .txt_container .li_title h3, .dv3 .items_wrapper .items_container ul li:nth-child(2n-1) .inline_container .content .txt_container .li_content p{text-align: right;}
        .dv3 .items_wrapper .items_container ul li:nth-child(2n) .inline_container{justify-content: flex-start;}
        .dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container .li_content p br{display: none;}

    /* /dv3 */

    /* dv4 */

        .dv4{background:url(../img/some-pattern.jpg) left top;}
        .dv4 .container .title_container{padding: 100px 24px 40px 24px;text-align: center;display: block;max-width: 270px;margin:0 auto;}
        .dv4 .container .title_container:before{top: auto;bottom:55px;left:5px;}
        .dv4 .container .title_container:after{top:auto;bottom:55px;right:5px;}
        .dv4 .in_tabs_wrapper{display: none;}
        .dv4 .tab_control_wrapper .tab_control_container ul li.active, .dv4 .tab_control_wrapper .tab_control_container ul li:hover{background-color: transparent;}
        .dv4 .tab_control_wrapper .tab_control_container ul li.active .content_li_container .txt_li_wrapper .txt_li_container .title_li_container h3, .dv4 .tab_control_wrapper .tab_control_container ul li:hover .content_li_container .txt_li_wrapper .txt_li_container .title_li_container h3{color:#000;}
        .dv4 .tab_control_wrapper .tab_control_container ul li.active .content_li_container .txt_li_wrapper .txt_li_container .txt_wrapper .txt_container p, .dv4 .tab_control_wrapper .tab_control_container ul li:hover .content_li_container .txt_li_wrapper .txt_li_container .txt_wrapper .txt_container p{color:#000;}
        .dv4 .tab_control_wrapper .tab_control_container ul li:hover{cursor:default;}
        .dv4 .tab_control_wrapper .tab_control_container ul li.active .content_li_container .img_li_wrapper .img_container, .dv4 .tab_control_wrapper .tab_control_container ul li:hover .content_li_container .img_li_wrapper .img_container{background-position-y:0;}
        .dv4 .tab_control_wrapper .tab_control_container ul{display: flex;justify-content: space-between;align-items:flex-start;}
        .dv4 .tab_control_wrapper .tab_control_container ul li{padding: 0 10px;}

    /* /dv4 */

}
@media screen and (max-width: 767px){

    /* header */

        .fixed .container .fex_box_wrapper{display: flex;flex-wrap:wrap;justify-content:space-between;align-items: center;padding: 0 10px;}
        .fixed .logo_container{position: static;}
        .fixed .tel_container{position: static;}
        .fixed .header_menu_container{max-width: none;padding: 10px 0 25px 0;}

    /* /header */

    /* dv2 */

        .dv2 .items_wrapper .items_container ul li{width: 50%;}

    /* /dv2 */

    /* dv4 */

        .dv4 .tab_control_wrapper .tab_control_container ul{flex-wrap:wrap;justify-content:center;}
        .dv4 .tab_control_wrapper .tab_control_container ul li{margin-bottom: 20px;max-width: 500px;}
        .dv4 .tab_control_wrapper .tab_control_container ul li:last-child{margin-bottom: 0;}

    /* /dv4 */

}

@media screen and (max-width: 666px){

    /* slider-top */

        .dv1 .slider .left_desc .title h1{font-size: 75px;line-height: 100px;}
        .dv1 .slider .left_desc .desc{margin-bottom: 20px;}
        .dv1 .slider .left_desc .desc p{font-size: 22px;line-height: 30px;}
        .dv1 .slider .right_desc .desc p{font-size: 26px;line-height: 32px;}

    /* /slider-top */

}

@media screen and (max-width: 520px){

    /* dv3 */

        .dv3 .items_wrapper{padding: 40px 0 15px 0;}
        .dv3 .items_wrapper .items_container ul li{width: 100%;}
        .dv3 .items_wrapper .items_container ul li .inline_container .content{max-width: none;width: 100%;justify-content:center;}
        .dv3 .items_wrapper .items_container ul li .inline_container .content .img_wrapper{margin-bottom: 20px;}
        .dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container{width: 100%;}
        .dv3 .items_wrapper .items_container ul li:nth-child(2n-1) .inline_container .content .txt_container .li_title h3, .dv3 .items_wrapper .items_container ul li:nth-child(2n-1) .inline_container .content .txt_container .li_content p, .dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container .li_title h3, .dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container .li_content p{text-align: center;}


    /* /dv3 */

}

@media screen and (max-width: 479px){

    /* slider-top */

        .dv1 .slider .left_desc .title h1{font-size: 50px;line-height: 75px;}
        .dv1 .slider .left_desc .desc{margin-bottom: 18px;}
        .dv1 .slider .left_desc .desc p{font-size: 18px;line-height: 26px;}
        .dv1 .slider .left_desc .buttons_wrapper{display: block;}
        .dv1 .slider .left_desc .buttons_wrapper .auto_recall{margin-bottom: 20px;}
        .dv1 .slider .right_desc{padding:30px 0 0 0;}
        .dv1 .slider .right_desc .title h2{font-size:18px;}
        .dv1 .slider .right_desc .desc p{font-size: 24px;line-height: 30px;}

    /* /slider-top */

    /* header */

        .fixed .header_menu_container{width: calc(100% + 20px);margin:0 -10px;}
        .fixed .header_menu_container ul li a{padding: 0 8px;}

    /* /header */

    /* dv2 */

        .dv2 .items_wrapper .items_container ul li{width: 100%;}

    /* /dv2 */

    /* dv3 */

        .dv3 .title_container h2{font-size: 28px;}
        .dv3 .btns_wrapper .btns_container{justify-content:center;}
        .dv3 .btns_wrapper .btns_container .btn_car{margin-bottom: 20px;}

    /* /dv3 */

    /* dv4 */

        .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container{justify-content:center;}
        .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container .txt_li_wrapper .txt_li_container .title_li_container h3{text-align: center;}
        .dv4 .tab_control_wrapper .tab_control_container ul li .content_li_container .txt_li_wrapper .txt_li_container .txt_wrapper .txt_container p{text-align: center;}

    /* /dv4 */

}