
/* fixed */

    .wrapper.fixed{
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 2000;
        overflow: visible;
        background-color: #ffffff;
    }
    .fixed .container{
        position: relative;
    }
    .fixed .container:after{
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        bottom: -24px;
        background-position: top center;
        background-repeat: no-repeat;
        background-image: url(../img/fixed/texture.png);
        height: 24px;
        width: 100%;
    }
    .fixed .container .fex_box_wrapper{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
    }
    .fixed .container .fex_box_wrapper:after{content:'';display: block;width: 100%;height: 0;clear: both;}
    .fixed .logo_container{
        height: 65px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        position: absolute;
        left:30px;
        top:calc(50% - 32px);
    }
    .fixed .logo_container .logo{

    }
    .fixed .header_menu_container{
        position: relative;
        max-width: calc(100% - 300px);
        width: 100%;
        margin: 0 auto;
        min-height: 65px;
        display: flex;
        align-items:center;
        padding:10px 0;
    }
    .fixed .header_menu_container ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        margin-bottom: -25px;
        width: 100%;
    }
    .fixed .header_menu_container ul li{
        margin-bottom: 25px;
    }
    .fixed .header_menu_container ul li a:hover:after{
        border-radius: 50%;
        background-color: rgb(149, 185, 223);
        width: 10px;
        height: 10px;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        bottom: -17px;
        content: '';
        display: block;
    }
    .fixed .header_menu_container ul li.active a:after{
        border-radius: 50%;
        background-color: rgb(149, 185, 223);
        width: 10px;
        height: 10px;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        bottom: -17px;
        content: '';
        display: block;
    }

    .fixed .header_menu_container ul li a{
        font-size: 14px;
        font-family: "Proxima Nova";
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        text-decoration: none;
        padding: 0 17px;
        position: relative;
    }
    .fixed .tel_container{
        min-height: 65px;
        display: flex;
        justify-content:flex-end;
        align-items:center;
        position: absolute;
        right: 30px;
        top:calc(50% - 32px);
    }
    .fixed .tel_container a{
        font-size: 16px;
        font-family: "Proxima Nova";
        color: rgb(40, 40, 40);
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        text-decoration: none;
    }
    .fixed .tel_container a:hover{
        text-decoration: underline;
    }

/* /fixed */

/* dv1 */

    .dv1{
        background-position: center;
        background-repeat: no-repeat;
    }
    .dv1 .container{
        position: relative;
    }
    .dv1 .slider_wrapper{
        position: relative;
    }
    .dv1 .slider_wrapper .slider{
        position: relative;
        overflow: hidden;
        max-width: 1920px;
        margin: 0 auto;
        width: 100%;
        position: relative;
        height: 780px;
    }
    .dv1 .slider_wrapper .slider .item{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        opacity: 0;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        filter: alpha(opacity=50);
        -webkit-transition: opacity .70s ease-in-out;
        -moz-transition: opacity .70s ease-in-out;
        -ms-transition: opacity .70s ease-in-out;
        -o-transition: opacity .7s ease-in-out;
        transition: opacity .7s ease-in-out;
    }
    .dv1 .slider_wrapper .slider .item.active{
        z-index: 5;
        opacity: 1;
        filter: alpha(opacity=50);
        -webkit-transition: opacity .70s ease-in-out;
        -moz-transition: opacity .70s ease-in-out;
        -ms-transition: opacity .70s ease-in-out;
        -o-transition: opacity .7s ease-in-out;
        transition: opacity .7s ease-in-out;
    }
    .dv1 .slider_wrapper .slider .item .container{
        height:768px;
        box-sizing: border-box;
        display: flex;
        align-items:center;
        justify-content:center;
        padding: 0 20px;
    }
    .dv1 .slider .flex_container{
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .dv1 .slider .left_desc{
        max-width: 420px;
        width: 100%;
        margin-right: 50px;
    }
    .dv1 .slider .left_desc .title{

    }
    .dv1 .slider .left_desc .title h1{
        font-size: 150px;
        font-family: "Proxima Nova";
        color: rgb(255, 254, 254);
        text-transform: uppercase;
        line-height: 150px;
        font-weight: 600;
        text-align: left;
        margin-left: -9px;
    }
    .dv1 .slider .left_desc .desc{
        margin-top: -10px;
        margin-bottom: 50px;
    }
    .dv1 .slider .left_desc .desc p{
        font-size: 30px;
        font-family: "Proxima Nova";
        color: rgb(233, 233, 233);
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
    }
    .dv1 .slider .left_desc .buttons_wrapper{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .dv1 .slider .left_desc .buttons_wrapper .auto_recall{

    }
    .dv1 .slider .left_desc .buttons_wrapper .auto_recall a{
        width: 200px;
        line-height: 45px;
        display: block;
        text-align: center;
        text-decoration: none;
        background-color: #6c92c7;
        font-size: 14px;
        font-family: "Proxima Nova";
        color: rgb(254, 254, 254);
        text-transform: uppercase;
    }
    .dv1 .slider .left_desc .buttons_wrapper .call_back{

    }
    .dv1 .slider .left_desc .buttons_wrapper .call_back a{
        width: 200px;
        line-height: 41px;
        display: block;
        text-align: center;
        text-decoration: none;
        border: solid 2px #fff;
        box-sizing: border-box;
        font-size: 14px;
        font-family: "Proxima Nova";
        color: rgb(254, 254, 254);
        text-transform: uppercase;
        font-weight: 600;
    }
    .dv1 .slider .right_desc{
        max-width: 615px;
        width: 100%;
        padding: 30px 0 0 0;
    }
    .dv1 .slider .right_desc .title{
        width: 275px;
    }
    .dv1 .slider .right_desc .title h2{
        font-size: 20px;
        font-family: "Proxima Nova";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 30px;
        text-align: left;
        padding: 0 10px 0 10px;
        box-sizing: border-box;
        width: 100%;
        background-color: #6c92c7;
    }
    .dv1 .slider .right_desc .desc{
        padding: 10px 0 10px 0;
    }
    .dv1 .slider .right_desc .desc p{
        font-size: 40px;
        font-family: "Proxima Nova";
        color: rgb(233, 233, 233);
        line-height: 1.1;
        text-align: left;
        font-weight: 600;
    }
    .dv1 .slider_wrapper .navigator{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
        position: absolute;
        bottom: 90px;
        left: 0px;
        z-index: 600;
    }
    .dv1 .slider_wrapper .navigator span{
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 50%;
        background-color: #ffffff;
        margin: 0 5px;
        cursor: pointer;
    }
    .dv1 .slider_wrapper .navigator span.active{
        background-color: #6a7dff;
    }
    .dv1 .slider_wrapper .navigator span:hover{
        background-color: #6a7dff;
    }
    .dv1 .container:after{
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-position: top center;
        background-repeat: no-repeat;
        background-image: url(../img/dv1/bot_bg.png);
        height: 24px;
        width: 100%;
    }

/* /dv1 */

@media screen and (max-width: 1200px){

    /* slider-top */

        .dv1 .slider .flex_container{
            justify-content:space-around;
        }
        .dv1 .slider .left_desc{
            margin-right: 0;
        }
        .dv1 .slider .right_desc .desc p{
            font-size: 32px;
        }

    /* /slider-top */

}
@media screen and (max-width: 767px){

    /* header */

        .fixed .container .fex_box_wrapper{display: flex;flex-wrap:wrap;justify-content:space-between;align-items: center;padding: 0;}
        .fixed .logo_container{position: static;}
        .fixed .tel_container{position: static;}
        .fixed .header_menu_container{max-width: none;padding: 10px 0 25px 0;}

    /* /header */

}

@media screen and (max-width: 666px){

    /* slider-top */

        .dv1 .slider .left_desc .title h1{font-size: 75px;line-height: 100px;}
        .dv1 .slider .left_desc .desc{margin-bottom: 20px;}
        .dv1 .slider .left_desc .desc p{font-size: 22px;line-height: 30px;}
        .dv1 .slider .right_desc .desc p{font-size: 26px;line-height: 32px;}

    /* /slider-top */

}

@media screen and (max-width: 479px){

    /* slider-top */

        .dv1 .slider .left_desc .title h1{font-size: 50px;line-height: 75px;}
        .dv1 .slider .left_desc .desc{margin-bottom: 18px;}
        .dv1 .slider .left_desc .desc p{font-size: 18px;line-height: 26px;}
        .dv1 .slider .left_desc .buttons_wrapper{display: block;}
        .dv1 .slider .left_desc .buttons_wrapper .auto_recall{margin-bottom: 20px;}
        .dv1 .slider .right_desc{padding:30px 0 0 0;}
        .dv1 .slider .right_desc .title h2{font-size:18px;}
        .dv1 .slider .right_desc .desc p{font-size: 24px;line-height: 30px;}

    /* /slider-top */

    /* header */

        .fixed .header_menu_container{width: calc(100% + 10px);margin:0 -5px;}
        .fixed .header_menu_container ul li a{padding: 0 8px;}

    /* /header */

}