/*dv7*/
.comment_slider{min-height: 570px;text-align: center;padding-top: 67px;}
.comment_slider_img{position: absolute;top: 0;left: 0;}
.comment_slider .title_container{font-size: 36px;font-family: "Proxima Nova";color:#fff;text-transform: uppercase;line-height: 36px;text-align: center;font-weight: 900;position: relative;display: inline-block;}
.comment_slider .title_container:before{content: '';display: block;position: absolute;width: 10px;height: 10px;border-radius: 50%;background-color: #fff;left: -30px;top: 13px;}
.comment_slider .title_container:after{content: '';display: block;position: absolute;width: 10px;height: 10px;border-radius: 50%;background-color: #fff;right: -30px;top: 13px;}
.comment_slider_wrap{position: relative;z-index: 1;width: 100%;margin:0 auto;overflow: hidden;padding-top: 78px;}
.comment_slider_wrap .slick-dots ul{text-align: center;}
.comment_slider_wrap .slick-dots li{display: inline-block;margin: 0 5px;}
.comment_slider_wrap .slick-dots button{padding: 0;margin: 0;border: none;color:transparent;font-size: 0;background-color: #fff;width: 10px;height: 10px;border-radius: 50%;max-height: none;cursor: pointer;outline:none;}
.comment_slider_wrap .slick-dots li.slick-active button{background-color: #6c92c7;}
.comment_slider_wrap .item{display: inline-block;text-align: center;}
.comment_slider_wrap .item img{position: relative;z-index: 0;}
.comment_slider_wrap .item .fancybox{display: inline-block;box-shadow:0 3px 3px 0 rgba(0, 0, 0, .35);background-color: #fff;position: relative;}
.comment_slider_wrap .item .fancybox:before{content:'';position: absolute;left:calc(50% - 16px);top:calc(50% - 16px);width: 31px;height: 31px;background-image:url(../img/dv7/loop-icon.png);display: block;opacity: 0;z-index: 1;}
.comment_slider_wrap .item .fancybox:hover:before{opacity: 1;}

.comment_slider_wrap .slick-slide{outline: none;}
.comment_slider_wrap .slick-list{margin-bottom: 20px;}
.comment_slider_wrap .slider_text{font-size: 24px;font-family: "Proxima Nova";font-weight: 600;color: white;font-style: italic;padding-top: 100px;padding-bottom: 70px;padding-left: 10px;padding-right: 10px;}
.comment_slider_wrap .slider_person{max-width: 320px;width: 100%;margin:0 auto;}
.comment_slider_wrap .slider_person:after{clear: both;display: block;content: '';}
.comment_slider_wrap .slider_person_img{width: 100px;height: 100px;overflow: hidden;border-radius: 50%;position: relative;float: left;margin-right: 20px;}
.comment_slider_wrap .slider_person_img img{position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.comment_slider_wrap .slider_person_desc{}
.comment_slider_wrap .slider_person_desc .slider_person_name{padding-top: 27px;color: #0077a9;font-size: 24px;font-weight: 800;font-family: "Proxima Nova";text-align: left;}
.comment_slider_wrap .slider_person_desc .slider_person_text{font-size: 16px;color: #f4f4f4;text-align: left;font-family: "Proxima Nova";}
.comment_slider_wrap .slick-arrow{top: 56%; z-index: 30; -webkit-transform: translate(0, -50%) rotate(-225deg);transform: translate(0, -50%) rotate(-225deg);height: 20px;width: 20px;border-right: 3px solid #fff;border-bottom: 3px solid #fff;position: absolute;border-left: none;border-top: none;background: transparent;left: 6px;cursor: pointer;outline: none;}
.comment_slider_wrap .slick-arrow.slick-next{left: auto;right: 6px;-webkit-transform: translate(0, -50%) rotate(-45deg);transform: translate(0, -50%) rotate(-45deg);}
/*/dv7*/

/*dv8*/
.dv8{background: url(../img/some-pattern.jpg) left top;}
.dv8>*{box-sizing: border-box;}
.dv8 .contacts{padding: 65px 30px 110px;text-align: center;}
.dv8 .contacts_wrap{text-align: left;}
.dv8 .contacts_wrap:after{content: '';display: block;clear: both;}
.dv8 .contacts_form{width: 44%;float: left;}
.dv8 .contacts_form.form-we-need form .contact-form-item-submit .contact-submit{max-width: 200px;}
.dv8 .contacts_map{width: 44%;float: right;}
.dv8 .title_container{font-size: 36px;font-family: "Proxima Nova";color:#2c2c2c;text-transform: uppercase;line-height: 36px;text-align: center;font-weight: 900;position: relative;display: inline-block;padding-bottom: 112px;}
.dv8 .title_container:before{content: '';display: block;position: absolute;width: 10px;height: 10px;border-radius: 50%;background-color: #2c2c2c;left: -30px;top: 13px;}
.dv8 .title_container:after{content: '';display: block;position: absolute;width: 10px;height: 10px;border-radius: 50%;background-color: #2c2c2c;right: -30px;top: 13px;}
.dv8 .form-we-need form{max-width: 100%;}
.dv8 .form-we-need form .contact-form-item-input textarea{width: 100%;height: 228px;border: none;box-sizing: border-box;background-color: #f7f7f7;font-size: 18px;font-family: "ProximaNova", sans-serif;color: rgb(129, 129, 129);line-height: 50px;outline: none;padding-left: 15px;resize: none;}
.dv8 .contacts_addres{}
.dv8 .contacts_addres_row{margin-bottom: 25px;}
.dv8 .contacts_addres_row .icon{height: 16px;width: 32px;display: inline-block;background-position: center left;background-repeat: no-repeat;background-image: url(../img/dv8/icon-1.png);vertical-align: middle;}
.dv8 .contacts_addres_row .icon.icon-2{background-image: url(../img/dv8/icon-2.png);}
.dv8 .contacts_addres_row .icon.icon-3{background-image: url(../img/dv8/icon-3.png);}
.dv8 .contacts_addres_row .icon.icon-4{background-image: url(../img/dv8/icon-4.png);}
.dv8 .contacts_addres_row p,.dv8 .contacts_addres_row a{color: #616161;font-size: 14px;font-family: "ProximaNova", sans-serif;font-weight: 400;display: inline-block;text-decoration: none;width: calc(100% - 36px);vertical-align: middle;}
.dv8 #contact_map{height: 291px;width: 100%;margin-bottom: 37px;}
/*/dv8*/

/*footer*/
.footer{background-color: #282828;text-align: center;background-image:url(../img/footer/footer-background.png);background-repeat: no-repeat;background-position: center center;position: relative;}
.footer-telefone{padding-top:26px;margin-bottom: 20px;}
.footer-telefone a, .footer-socials a{font-size: 14px;color:#fff;text-decoration: none;font-family: "ProximaNova", sans-serif;}
.footer-telefone a:hover, .footer-socials a:hover{text-decoration: underline;}
.footer-socials a{margin-right: 15px;}
.footer-socials a:last-child{margin-right: 0;}
.footer .footer-nav{padding-top: 30px;padding-bottom: 36px;}
.footer .footer-nav li{display: inline-block;margin: 0 2.1%;}
.footer .footer-nav li a{display: inline-block;text-decoration: none;color: #f6f6f6;font-family: "ProximaNova", sans-serif;font-weight: bold;padding: 0 5px;text-transform: uppercase;transition: all ease .2s;}
.footer .footer-copy{padding-bottom: 25px;font-size: 14px;color: #e4e4e4;font-family: "ProximaNova", sans-serif;}
.footer .footer-nav li a:hover{color: rgb(149, 185, 223);}
/*/footer*/


@media screen and (max-width: 880px){
    /*dv8*/
    .dv8 .contacts_form,.dv8 .contacts_map{width: 49%;}
    /*/dv8*/

    /*footer*/
    .footer .footer-nav{padding-top: 29px;padding-bottom: 0px;}
    .footer .footer-nav li{display: block;text-align: center;margin-bottom: 11px}
    /*/footer*/
}
@media screen and (max-width: 767px){
    /*dv8*/
    .dv8 .contacts{padding: 92px 30px 46px;}
    .dv8 .title_container{padding-bottom: 60px;}
    .dv8 .contacts_form,.dv8 .contacts_map{width: 100%;}
    .dv8 .contacts_form{margin-bottom: 40px;}
    .dv8 .form-we-need form{max-width: 360px;margin:0 auto;}
    /*/dv8*/
}
@media screen and (max-width: 479px){
    /*dv7*/
    .comment_slider .title_container{font-size: 30px;}
    .comment_slider{padding-top: 43px;padding-bottom: 37px;min-height: 100%;}
    /*/dv7*/

    /*dv8*/
    .dv8 .contacts{padding-left: 0;padding-right: 0;padding: 60px 30px 46px;}
    .dv8 .title_container {padding-bottom: 40px;font-size: 30px;}
    /*/dv8*/
}
@media screen and (max-width: 360px){
    /*dv7*/
    .comment_slider .title_container{font-size: 28px;}
    .comment_slider_wrap{padding-top: 38px;}
    .comment_slider_wrap .slider_text{padding-top: 56px;padding-bottom: 47px;font-size: 19px;line-height: 23px;}
    .comment_slider_wrap .slick-arrow{top: 50%;}
    .comment_slider_wrap .slider_person_desc .slider_person_name{padding-top: 16px;font-size: 21px;}
    /*/dv7*/

    /*dv8*/
    .dv8 .contacts{padding-left: 0;padding-right: 0;padding: 40px 0px 27px;}
    .dv8 .title_container {padding-bottom: 40px;font-size: 28px;}
    .dv8 .contacts_addres_row {margin-bottom: 17px;}
    /*/dv8*/
}




