body{
    margin: 0;
    padding: 65px 0 0 0;
    min-width: 320px;
}
input.incorrect,textarea.incorrect{
    color: red!important;
}
p,h1,h2,h3,ul,li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.acl:after{
    display: block;
    clear: both;
    content: '';
    position: relative;
}
.global_wrapper{
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}
.global_wrapper .wrapper{
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.global_wrapper .wrapper .container{
    margin: 0 auto;
    max-width: 1240px;
    /*padding: 0 20px;*/
    position: relative;
    box-sizing: border-box;
}
.left{
    float: left;
}
.right{
    float: right;
}
.hidden_block{
    display: none;
}

.wrapper.dv3{
    background-color: #d6e5ff;
    margin-bottom: 30px;
}
.dv3 .container{
    box-sizing: border-box;
    padding: 68px 0 110px 0;
    position: relative;
}
.dv3 .container:before{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 24px;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(../img/dv3/top_texture.png);
}
.dv3 .container:after{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 24px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-image: url(../img/dv3/texture-bottom.png);
}
.dv3 .title_container{
    display: table;
    margin: 0 auto 0 auto;
    position: relative;
}
.dv3 .title_container:before{
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2c2c2c;
    left: -30px;
    top: 13px;
}
.dv3 .title_container:after{
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2c2c2c;
    right: -30px;
    top: 13px;
}
.dv3 .title_container h2{
    font-size: 36px;
    font-family: "Proxima Nova";
    color: rgb(44, 44, 44);
    text-transform: uppercase;
    line-height: 36px;
    text-align: center;
    font-weight: 900;
}
.dv3 .items_wrapper{
    padding: 120px 0 15px 0;
}
.dv3 .items_wrapper .items_container{
    background-image: url(../img/dv3/car.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.dv3 .items_wrapper .items_container ul{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}
.dv3 .items_wrapper .items_container ul li{
    width: 50%;
    padding: 0 0 40px 0;
}
.dv3 .items_wrapper .items_container ul li .inline_container{
    width: 100%;
}
.dv3 .items_wrapper .items_container ul li:nth-child(2n) .inline_container{
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
}
.dv3 .items_wrapper .items_container ul li:nth-child(2n-1) .inline_container{
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
}
.dv3 .items_wrapper .items_container ul li .inline_container .content{
    width: 250px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
}
.dv3 .items_wrapper .items_container ul li .inline_container .content .img_wrapper{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: solid 2px #4c4c4c;
}
.dv3 .items_wrapper .items_container ul li .inline_container .content .img_wrapper .img_container{
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
}
.dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container{
    width: 175px;
}
.dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container .li_title{
    padding: 0 0 6px 0;
}
.dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container .li_title h3{
    font-size: 16px;
    font-family: "Proxima Nova";
    color: rgb(76, 76, 76);
    text-transform: uppercase;
    line-height: 16px;
    font-weight: 800;
    text-align: left;
}
.dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container .li_content{

}
.dv3 .items_wrapper .items_container ul li .inline_container .content .txt_container .li_content p{
    font-size: 14px;
    font-family: "Proxima Nova";
    color: rgb(106, 106, 106);
    line-height: 1.2;
    text-align: left;
}
.dv3 .btns_wrapper{
    width: 420px;
    margin: 0 auto 0 auto;
}
.dv3 .btns_wrapper .btns_container{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}
.dv3 .btns_wrapper .btns_container .btn_car{
    width: 200px;
    height: 45px;
}
.dv3 .btns_wrapper .btns_container .btn_car a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #6c92c7;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    font-family: "Proxima Nova";
    color: rgb(254, 254, 254);
    text-transform: uppercase;
}
.dv3 .btns_wrapper .btns_container .btn_recall{
    width: 200px;
    height: 45px;
}
.dv3 .btns_wrapper .btns_container .btn_recall a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    line-height: 41px;
    border: solid 2px #616161;
    font-size: 14px;
    font-family: "Proxima Nova";
    color: rgb(97, 97, 97);
    text-transform: uppercase;
    font-weight: 600;
}