body{
    margin: 0;
    padding: 65px 0 0 0;
    min-width: 320px;
}
input.incorrect,textarea.incorrect{
    color: red!important;
}
p,h1,h2,h3,ul,li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.acl:after{
    display: block;
    clear: both;
    content: '';
    position: relative;
}
.global_wrapper{
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}
.global_wrapper .wrapper{
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.global_wrapper .wrapper .container{
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
    position: relative;
    box-sizing: border-box;
}
.left{
    float: left;
}
.right{
    float: right;
}
.hidden_block{
    display: none;
}